### Hidden files ###

.Rproj.user
.Rhistory
.RData
.Ruserdata

### Hidden folders ###

**00_students/**
**01_session01/readings/**
**01_session01/session01_files/**
**01_session01/session01.qmd**
**01_session01/session01.html**
**02_session02/readings/**
**02_session02/session02_files/**
**02_session02/session02.qmd**
**02_session02/session02.html**
**03_session03/readings/**
**03_session03/session03_files/**
**03_session03/session03.qmd**
**03_session03/session03.html**
**04_session04/readings/**
**04_session04/session04_files/**
**04_session04/session04.qmd**
**04_session04/session04.html**
**05_session05/readings/**
**05_session05/session05_files/**
**05_session05/session05.qmd**
**05_session05/session05.html**
**06_session06/readings/**
**06_session06/session06_files/**
**06_session06/session06.qmd**
**06_session06/session06.html**
**07_session07/readings/**
**07_session07/session07_files/**
**07_session07/session07.qmd**
**07_session07/session07.html**
**08_session08/readings/**
**08_session08/session08_files/**
**08_session08/session08.qmd**
**08_session08/session08.html**
**09_session09/readings/**
**09_session09/session09_files/**
**09_session09/session09.qmd**
**09_session09/session09.html**
**10_session10/readings/**
**10_session10/session10_files/**
**10_session10/session10.qmd**
**10_session10/session10.html**
